<nav class="navbar">
    <a class="brand" routerLink="home" style="text-decoration:none;">Home</a>
    <a class="nav-item" routerLink="login" style="text-decoration:none;"> Login</a>
    <a class="nav-item" routerLink="register" style="text-decoration:none;"> Register</a>
    <a class="nav-item" routerLink="add-train-adm" style="text-decoration:none;"> Add Trains</a>
    <a class="nav-item" routerLink="list-train" style="text-decoration:none;"> List Train</a>
    <a class="nav-item" routerLink="booking" style="text-decoration:none;">Booking</a>
    <a class="nav-item" routerLink="booking-list" style="text-decoration:none;">Booking List</a>
    <!-- <a class="nav-item" href="addtask.html" style="text-decoration:none;"> Tasks</a>
    <a class="nav-item" href="list_task.html" style="text-decoration:none;">Task-List</a>
    <a class="nav-item" href="edit_task.html" style="text-decoration:none;">Task-Edit</a> -->
    <a class="nav-item" routerLink="aboutus" style="text-decoration:none;"> About Us</a>
</nav>